.barra-lateral{
    position: absolute;
    background-color: red;
    width: 15%;
    height: 25%;
    left: 1%;
    top: 10%;
}
.barra-lateral nav{
    margin-top: 10%;
}
.barra-lateral nav a{
    padding: 10px;
    color: #c5c5c5;
    text-decoration: none;
    display: block;
    font-size: 130%;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}

.barra-lateral nav a:hover{
    background-color: rgba(0, 0, 0, 0.294);
    font-size: 132%;
}
h2{
    margin-left: 14px;
}

#pagina-actual{
    background-color: rgba(0, 0, 0, 0.294);
    font-size: 132%;
    margin-left: 2%;
}