.barra-lateral{
    position: absolute;
    width: 15%;
    height: auto;
    left: 1%;
    top: 10%;
    padding: 10px;
}
.barra-lateral nav{
    margin-top: 10%;
}
.barra-lateral nav a{
    padding: 10px;
    color: #efefef;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}

.barra-lateral nav a:hover{
    background-color: rgba(0, 0, 0, 0.294);
    margin-left: 5%;
}

.barra-lateral h4, .barra-lateral h2{
    margin-left: 14px;
}

#pagina-actual{
    background-color: rgba(0, 0, 0, 0.294);
    margin-left: 2%;
}