.boton-lateral,.boton-lateral-cerrar{
    color: #efefef;
    background-color: red;
    position: absolute;
    top: 10%;
    left: 1%;
    font-size: 1.1rem;
    padding: 12px;
    display: none;
}
.boton-lateral-cerrar{
    top: 1%;
}

.barra-lateral{
    position: absolute;
    width: 15%;
    height: auto;
    left: 1%;
    top: 10%;
    padding: 10px;
}
.barra-lateral nav{
    margin-top: 10%;
}
.barra-lateral nav a{
    padding: 10px;
    color: #efefef;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}
.boton-lateral:hover{
    background-color: rgba(0, 0, 0, 0.294);
}

.barra-lateral nav a:hover{
    background-color: rgba(0, 0, 0, 0.294);
    margin-left: 5%;
}

.barra-lateral h4, .barra-lateral h2{
    margin-left: 14px;
}

#pagina-actual{
    background-color: rgba(0, 0, 0, 0.294);
    margin-left: 2%;
}

/*? Tarjeta de informacion general */

.barra-lateral span{
    padding: 10px;
    color: #efefef;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    
}

.conteo-prestamos{
    margin-top: 3rem;
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.307);
    border-radius: 5px;
}

#azul{
    background-color: rgb(182, 209, 245);
    color: rgb(31,65,175);
    border: solid 1px rgb(72, 152, 250);
    width: 1%;
    height: 1%;
    display: inline-block;
}
#verde{
    background-color: rgb(200, 255, 200);
    color: rgb(0, 87, 0);
    border: solid 1px green;
    width: 1%;
    height: 1%;
    display: inline-block;
}
#rojo{
    background-color: rgb(255, 64, 64);
    color: rgb(161, 0, 0);
    border: solid 1px red;
    width: 2%;
    height: 1%;
    display: inline-block;
}


/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .barra-lateral {
        position:absolute;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        padding: 10px 20px;
        z-index: 100;
        box-shadow: 0px 0px 0 600vmax rgba(0, 0, 0, 0.227) !important;
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out;
    }
    .barra-lateral-visible{
        opacity: 1;
        visibility: visible;
        width: 89%;
    }
    .boton-lateral{
        display: initial;
    }
    .boton-lateral-visible{
        display: initial;
    }
    
    .barra-lateral nav {
        flex-direction: column;
        width: 100%;

    }
    .barra-lateral:hover nav{
        display: initial;
    }

    .barra-lateral nav a {
        width: 100%;
    }
}