/*? Fondo */
body{
    background-image: url('img/libros-loop-v2.jpg');
    background-size: cover;
    background-position: top;

}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffbf2; 
}

.contendor-usuarios{
    display: block;
    position: relative;
    width: 45%;
    height: 100%; /*! Corregir altura del contenedor porque tiene un bug en su html*/
    top: 40%;
}
.div-acciones-usuarios{
    display: flex;
    gap: 5%;

}

/*? Contenedor que tiene los datos del libro*/
.usuario{
    background-color: rgba(255, 255, 255, 0.721);
    backdrop-filter: blur(10px);
    display: flex;
    position: relative;
    top: 5%;
    width: 100%;
    height: 14%;
    border-radius: 10px;
    margin-bottom: .6rem;
    color: #4a4a4a;
    transition: 0.3s ease-in-out;
}

#span-informacion-usuario{
    width: 25%;
}

.span-rol{
    position: relative;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 80%;
}

/*? Textos que muestran la informacion de los usuarios */
#span-info-usuarios{
    position: relative;
    width: 30%;
    display: flex;

    justify-content: center;
    align-items: center;
    
    
}

#span-info-usuarios h3{
    margin-top: 30px;
    margin-left: 5%;
    position: absolute;
}
#span-info-usuarios h4{
    margin-left: 5%;
    margin-bottom: 10px;
    position: absolute;
    bottom: 1%;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}

.h4-datos-usuario{
    background-color: rgba(255, 255, 255, 0.252);
    padding: 10px;
    line-height: 1.4;
    margin: 0;
    height: 83%;
    border-radius: 3px;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.2); /* sombra hacia dentro */
}

/*? Textos que muestran la disponibilidad de los libros */
#span-acciones-usuario{
    position: relative;
    width: 25%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#span-acciones-usuario h4{
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    
}
#span-acciones-usuario button{
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    transition: .3s ease-in-out;
    
}

#span-acciones-usuario button:hover{
    scale: 1.1;
}

/* Diferentes colores para roles*/
#u-administrador{
    background-color: rgb(255, 244, 212);
    color: rgb(209, 115, 0);
    border: solid 1px rgb(212, 95, 0);
}
#u-bibliotecario{
    background-color: rgb(223,233,246);
    color: rgb(31,65,175);
    border: solid 1px rgb(72, 152, 250);
}

/*? Estilos de Busqueda*/
form select, form input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

form select{
    height: 3rem;
}

.div-busqueda{
    text-align: center;
    position: absolute;
    top: 5rem;
    height: auto;
    width: 60%;
    padding: 15px;
    border-radius: 4px;
}

.frm-buscar{
    display: inline;
}

#cuadro-busqueda{
    width: 50%;
}


/*? Eliminar usuario */
.frm-eliminar-usuario input{
    display: none;
}