/* Formulario */
.div-container-registro-prestamos{
    background-color: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 45%;

    position: relative;
}

.formulario-prestamo{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.formulario-prestamo input,
.formulario-prestamo select{
    margin-bottom: 10px;
    height: 2rem;
    border-radius: 5px;
}

/*
TEST FORMULARIO BLANCO
.formulario-prestamo input{
    background-color: rgba(113, 113, 113, 0.609);
}*/

.formulario-prestamo label{
    font-size: 1.2rem;
}

#span-informacion-lector{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* Sugerencias */

.ul-contenedor-sugerencias{
    background-color: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    padding: 0;
    overflow-y: auto;
    border-radius: 10px;

    position: absolute;
    top: 83%;
    width: 20%;
    transition: 0.2s ease-in-out;

}
/*
.input-lugar{
    position: relative;
}*/
.activar{
    opacity: 1;
    pointer-events: auto;
    padding: 10px 8px;
}

.activar li{
    display: block;
}


.ul-contenedor-sugerencias li{
    list-style: none;
    width: 80%;
    height: 100%;
    padding: 12px 16px;
    cursor:pointer;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    
}

.ul-contenedor-sugerencias li:hover{
    background-color: #000000a9;
}

.filtro{
    display: none;
}
@media (max-width: 768px) {
    .div-container-registro-prestamos {
        width: 80%;
        padding: 15px;
    }

    .formulario-prestamo {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #span-informacion-lector {
        grid-template-columns: repeat(2, 1fr);
    }

    .formulario-prestamo label {
        font-size: 0.80rem;
    }

    .formulario-prestamo input,
    .formulario-prestamo select {
        width: 100%;
        font-size: 1rem;
    }

    #btn-registrar {
        width: 100%;
        margin-top: 1rem;
    }

    .ul-contenedor-sugerencias {
        font-size: 0.9rem;
        padding-left: 1rem;
        width: 100% !important;
        top: auto !important;
        position: static;
    }
}

@media (max-width: 480px) {
    main {
        padding-top: 130px;
        padding-bottom: 50px;
    }

    .div-container-registro-prestamos {
        width: 85%;
    }

    .formulario-prestamo {
        gap: 10px;
    }

    .formulario-prestamo label {
        font-size: 0.85rem;
    }

    .formulario-prestamo input,
    .formulario-prestamo select {
        height: 2.5rem;
    }

    .formulario-prestamo input {
        width: 92%;
    }

    #span-informacion-lector input {
        width: 87%;
    }

    #btn-registrar {
        font-size: 0.9rem;
        padding: 0.65rem;
        width: 100%;
    }

    #h1-titulo {
        font-size: 1.5rem;
        text-align: center;
    }

    #h5-nota {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .ul-contenedor-sugerencias {
        font-size: 0.85rem;
        width: 100% !important;
        top: auto !important;
        position: static;
    }
}

