.prestamo{
    color:#404040;
}

#span-info-prestamos{
    padding-left: 5px;
    max-width: 660px;
    width: auto;
    font-size: 120%;
    justify-content: flex-start;
    
}
.span-fechas{
    align-items: center;
    width: 25%;
    border-right: solid 1px #4a4a4a;
}
.span-fechas h2{
    font-size: 220% !important;
}
/*
.motivo{
    color: #43426f;
}*/
@media (max-width: 768px) {
    .span-fechas{
        border-right: none;
        width: auto;
    }
    #span-info-prestamos{
        border-top: solid 1px #4a4a4a;
    }
}
@media (max-width: 480px) {
    .contendor-prestamos{
        top: 65%;
    }
}