/*? Fondo */
body{
    background-image: url('img/libros-loop-v2.jpg');
    background-size: cover;
    background-position: top;

}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffbf2; 
}

.contendor-prestamos{
    display: block;
    position: relative;
    width: 60%;
    height: 100%; /*! Corregir altura del contenedor porque tiene un bug en su html*/
    top: 40%;
}
.div-acciones-prestamo{
    display: flex;
    gap: 5%;

}

/*? Contenedor que tiene los datos del libro*/
.prestamo{
    background-color: rgba(255, 255, 255, 0.721);
    backdrop-filter: blur(10px);
    display: flex;
    position: relative;
    top: 5%;
    left: -2%;
    width: 100%;
    height: 14%;
    border-radius: 10px;
    margin-bottom: .6rem;
    color: #4a4a4a;
    transition: 0.3s ease-in-out;
}

#span-informacion-lector{
    width: 25%;
}

.span-fechas{
    position: relative;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: .55rem;
}

/*? Textos que muestran la informacion de los libros */
#span-info-prestamos{
    position: relative;
    width: 30%;
    display: flex;

    flex-direction:column;
    justify-content: flex-end;
    
}
#span-info-prestamos h2{
    margin-top: 8px;
    margin-left: 5%;
    position: absolute;
    top: 0%;
}
#span-info-prestamos h3{
    margin-top: 30px;
    margin-left: 5%;
    position: absolute;
}
#span-info-prestamos h4{
    margin-left: 5%;
    margin-bottom: 10px;
    position: absolute;
    bottom: 1%;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}

.h4-datos-lector{
    background-color: rgba(255, 255, 255, 0.252);
    padding: 10px;
    line-height: 1.4;
    margin: 0;
    height: 83%;
    border-radius: 3px;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.2); /* sombra hacia dentro */
}

/*? Textos que muestran la disponibilidad de los libros */
#span-estado-prestamo{
    position: relative;
    width: 25%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#span-estado-prestamo h4{
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    
}
#span-estado-prestamo button{
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    transition: .3s ease-in-out;
    
}

#span-estado-prestamo button:hover{
    scale: 1.1;
}

/* Diferentes colores para disponible o no disponible*/
#p-activo{
    background-color: rgb(200, 255, 200);
    color: rgb(0, 87, 0);
    border: solid 1px green;
}
#p-vencido{
    background-color: rgb(255, 200, 200);
    color: rgb(161, 0, 0);
    border: solid 1px red;
}
#p-devuelto{
    background-color: rgb(223,233,246);
    color: rgb(31,65,175);
    border: solid 1px rgb(72, 152, 250);
}


/*? Estilos de Busqueda*/
form select, form input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

form select{
    height: 3rem;
}

.div-busqueda{
    text-align: center;
    position: absolute;
    top: 5rem;
    height: 40%;
    width: 60%;
    padding: 15px;
    border-radius: 4px;
}

.frm-buscar{
    display: inline;
}

#cuadro-busqueda{
    width: 60%;
}

/*? Devolver prestamo */
.frm-devolver-prestamo input{
    display: none;
}

/*? Eliminar prestamo */
.frm-eliminar-prestamo input{
    display: none;
}