/* Secciones */

.seccion-principal{
    background-image: url('img/portada-biblioteca-3.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}


.seccion-servicios{
    background-color:rgb(4, 128, 128);
    background-size: cover;
    background-position: center;
    height: 60vh;
    border-top: solid 5px gray;
    text-align: center;
}

.seccion-actividades{
    background-color:rgb(29, 79, 196);
    background-size: cover;
    background-position: center;
    height: 60vh;
    border-top: solid 5px gray;
    text-align: center;
}


/* Textos - Titulos */

.h1-titulo{
    color: rgb(232, 232, 232);
}



/* Seccion de libros destacados */
.seccion-libros-destacados{
    background-color: bisque;
    background-image: url("/static/img/estanterias\ -\ v6.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    border-top: solid 5px gray;
    text-align: center;
}
.div-contenedor-libros-destacados{
    display:flex;
    flex-direction: row;
    position: relative;
    height: 65%;
    top: 17%;
    
}

/*? Contenedor que tiene los datos del libro */
.div-libro-destacado{
    background-color: rgba(255, 255, 255, 0.721);
    backdrop-filter: blur(10px);
    position: relative;
    margin-left: 80px;
    width: 20%;
    height: 85%;
    border-radius: 10px;
    margin-bottom: .6rem;
    color: #4a4a4a;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.199);
}

.div-libro-destacado:hover{
    scale: 1.02;
}

.span-notacion{
    position: relative;
    display: flex;
    width: 100%;
    height: 16%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(204, 204, 204);
}

/*? Textos que muestran la informacion de los libros */
#span-info-libro-d{
    top: 20px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
#span-info-libro-d h2{
    margin-top: 8px;
    margin-left: 5%;
}
#span-info-libro-d h3{
    margin-left: 5%;
}
/*
#span-info-libro-d h4{
    margin-left: 5%;
    margin-bottom: 10px;
    bottom: 1%;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}*/
#span-info-libro-d h5{
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}

/*? Textos que muestran la disponibilidad de los libros */
#span-disponibilidad-libro-d{

    width: 100%;
    display: flex;
    justify-content: center;

}

#span-disponibilidad-libro-d h4{
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    
}

/* Diferentes colores para disponible o no disponible */
#h4-disponible{
    background-color: rgb(200, 255, 200);
    color: rgb(0, 87, 0);
    border: solid 1px green;
}
#h4-no_disponible{
    background-color: rgb(255, 200, 200);
    color: rgb(161, 0, 0);
    border: solid 1px red;
}


/* Colores de las diferentes secciones */
#h4-seccion-0 {
    background-color: #fef3c7;
    color: #785137;
    border: solid 1px #92400e;
}

#h4-seccion-1 {
    background-color: white;
    color: #5a3e96;
    border: solid 1px #c8aef1;
}

#h4-seccion-2 {
    background-color: white;
    color: #a3521c;
    border: solid 1px #f2b78c;
}

#h4-seccion-3 {
    background-color: white;
    color: #1e88a8;
    border: solid 1px #9cd4e8;
}

#h4-seccion-4 {
    background-color: white;
    color: #9f2459;
    border: solid 1px #f3a9c8;
}

#h4-seccion-5 {
    background-color: white;
    color: #8d7102;
    border: solid 1px #e5d280;
}

#h4-seccion-6 {
    background-color: white;
    color: #487143;
    border: solid 1px #a4c5a0;
}

#h4-seccion-7 {
    background-color: white;
    color: #324d76;
    border: solid 1px #a0c0e3;
}

#h4-seccion-8 {
    background-color: white;
    color: #7a3c85;
    border: solid 1px #e6a8df;
}

#h4-seccion-9 {
    background-color: white;
    color: #564989;
    border: solid 1px #bcb0e2;
}


/* Colores de la notacion deacuerdo a su seccion*/
#h2-seccion-0 {
    background-color: #fef3c7;
    color: #b98e45;
}

#h2-seccion-1 {
    background-color: #e3d0ff;
    color: #7a55c6;
}

#h2-seccion-2 {
    background-color: #ffe0cc; 
    color: #c05e1c;
}

#h2-seccion-3 {
    background-color: #d0f0ff; 
    color: #1e88a8;
}

#h2-seccion-4 {
    background-color: #ffddee;
    color: #c02b6b;
}

#h2-seccion-5 {
    background-color: #fff3c0; 
    color: #a28200;
}

#h2-seccion-6 {
    background-color: #d8e7d2;
    color: #507c4a;
}

#h2-seccion-7 {
    background-color: #cce0f4;
    color: #3b5c8c;
}

#h2-seccion-8 {
    background-color: #f9d5f2;
    color: #994ba7;
}

#h2-seccion-9 {
    background-color: #ddd6f6;
    color: #695aa7;
}