/* Formulario */
.div-container-insertar {
    background-color: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 60%;
}

.formulario-insertar{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.formulario-insertar input,
.formulario-insertar select{
    margin-bottom: 10px;
    height: 2rem;
    border-radius: 5px;
}

.formulario-insertar label{
    font-size: 1.2rem;
}

#span-informacion-autor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* Sugerencias */

.ul-contenedor-sugerencias{
    background-color: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    padding: 0;
    overflow-y: auto;
    posi
}
/*
.input-lugar{
    position: relative;
}*/
.activar{
    opacity: 1;
    pointer-events: auto;
    padding: 10px 8px;
}

.activar li{
    display: block;
    background-color: blue;
}


.ul-contenedor-sugerencias li{
    list-style: none;
    width: 80%;
    padding: 8px 12px;
    cursor:pointer;
    background-color: red;
    display: block;
}