form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 1.2rem;
}
form select, form input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
.div-container-insertar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
.div-container-insertar form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}