/* Secciones */

.seccion-principal{
    background-image: url('img/portada-biblioteca-3.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}


.seccion-servicios{
    background-color:rgb(4, 128, 128);
    background-size: cover;
    background-position: center;
    height: 60vh;
    border-top: solid 5px gray;
    text-align: center;
}

.seccion-actividades{
    background-color:rgb(29, 79, 196);
    background-size: cover;
    background-position: center;
    height: 60vh;
    border-top: solid 5px gray;
    text-align: center;
}


/* Textos - Titulos */

.h1-titulo{
    color: rgb(232, 232, 232);
}



/* Seccion de libros destacados */
.seccion-libros-destacados{
    background-color: bisque;
    background-image: url("/static/img/estanterias\ -\ v6.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    border-top: solid 5px gray;
    text-align: center;
}
.div-contenedor-libros-destacados{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 65%;
    top: 17%;

    
}
.div-contenedor-libros-destacados a{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 25%;
    height: 85%;
    text-decoration: none;
}

/*? Contenedor que tiene los datos del libro */
.div-libro-destacado{
    background-color: rgba(255, 255, 255, 0.721);
    backdrop-filter: blur(10px);
    position: relative;
    width: 90%;
    border-radius: 10px;
    margin-bottom: .6rem;
    color: #4a4a4a;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.199);
}

.div-libro-destacado:hover{
    scale: 1.02;
}

.span-notacion{
    position: relative;
    display: flex;
    width: 100%;
    height: 16%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(204, 204, 204);
}

/*? Textos que muestran la informacion de los libros */
#span-info-libro-d{
    top: 20px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
#span-info-libro-d h2{
    margin-top: 8px;
    margin-left: 5%;
}
#span-info-libro-d h3{
    margin-left: 5%;
}
/*
#span-info-libro-d h4{
    margin-left: 5%;
    margin-bottom: 10px;
    bottom: 1%;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}*/
#span-info-libro-d h5{
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}

/*? Textos que muestran la disponibilidad de los libros */
#span-disponibilidad-libro-d{

    width: 100%;
    display: flex;
    justify-content: center;

}

#span-disponibilidad-libro-d h4{
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    
}

/* Diferentes colores para disponible o no disponible */
#h4-disponible{
    background-color: rgb(200, 255, 200);
    color: rgb(0, 87, 0);
    border: solid 1px green;
}
#h4-no_disponible{
    background-color: rgb(255, 200, 200);
    color: rgb(161, 0, 0);
    border: solid 1px red;
}


/* Colores de las diferentes secciones */
#h4-seccion-0 {
    background-color: #f5f5f5;
    color: #4a4a4a;
    border: solid 1px #9e9e9e;
}

#h4-seccion-1 {
    background-color: #1c1c1c;
    color: #ffffff;
    border: solid 1px #333333;
}

#h4-seccion-2 {
    background-color: #fff3e0;
    color: #bf360c;
    border: solid 1px #ffcc80;
}

#h4-seccion-3 {
    background-color: #f5e1c3;
    color: #5d4037;
    border: solid 1px #a1887f;
}

#h4-seccion-4 {
    background-color: #fffde7;
    color: #f9a825;
    border: solid 1px #fff176;
}

#h4-seccion-5 {
    background-color: #e8f5e9;
    color: #388e3c;
    border: solid 1px #a5d6a7;
}

#h4-seccion-6 {
    background-color: #ffcdd2;
    color: #b71c1c;
    border: solid 1px #ef9a9a;
}

#h4-seccion-7 {
    background-color: #f3e5f5;
    color: #6a1b9a;
    border: solid 1px #ce93d8;
}

#h4-seccion-8 {
    background-color: #fce4ec;
    color: #ad1457;
    border: solid 1px #f48fb1;
}

#h4-seccion-9 {
    background-color: #e3f2fd;
    color: #1565c0;
    border: solid 1px #90caf9;
}

/* Colores de la notacion deacuerdo a su seccion */
#h2-seccion-0 {
    background-color: #e0e0e0;
    color: #4a4a4a;
}

#h2-seccion-1 {
    background-color: #2b2b2b;
    color: #ffffff;
}

#h2-seccion-2 {
    background-color: #ffdab3; 
    color: #c25e00;
}

#h2-seccion-3 {
    background-color: #d2b48c; 
    color: #5c3a1a;
}

#h2-seccion-4 {
    background-color: #fff9c4;
    color: #bba200;
}

#h2-seccion-5 {
    background-color: #d4edc9; 
    color: #3a7736;
}

#h2-seccion-6 {
    background-color: #ffcdd2;
    color: #b71c1c;
}

#h2-seccion-7 {
    background-color: #e1bee7;
    color: #6a1b9a;
}

#h2-seccion-8 {
    background-color: #f8bbd0;
    color: #880e4f;
}

#h2-seccion-9 {
    background-color: #bbdefb;
    color: #0d47a1;
}
.barra-lateral{
    transition: .15s ease-in-out !important;
}


@media(min-width: 992px){
    .barra-lateral{
        visibility: hidden;
        opacity: 0;
        transition: .1s ease-in-out;
    }

}

@media (max-width: 768px) {
    .navbar nav{
        visibility: hidden;
        opacity: 0;
    }
    .seccion-libros-destacados{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .seccion-libros-destacados a{
        margin: 0;
        display: initial;
        width: 120%;
    }

    #span-info-libro-d {
        width: 100%;

    }

    #span-disponibilidad-libro-d {
        width: 105%;
        min-width: unset;
        border-radius: 0 0 10px 10px;
        margin-top: 0.5rem;
    }
    .h4-datos-libro2 {
        height: auto;
    }
    body {
        background-size: cover;
        background-position: center top;
        overflow-x: hidden;
    }
    .div-contenedor-libros-destacados {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin: 2rem 1rem;
        height: auto;
        top: 62%;
        width: 80%;

    }

    .div-libro-destacado {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.8rem;
        height: 18rem;
        width: 100%;

        background: rgba(255, 255, 255, 0.85);
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        top: 0;
        
    }
    .span-notacion{
        width: 96.8%;
        border-radius: 10px 10px 0 0;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .span-notacion h2 {
        font-size: 1.2rem;
    }
    .h4-datos-libro2{
        font-size: .90rem;
        position: absolute;
        width: 93%;
        text-align: center;
    }

    #span-info-libro-d h3{
        font-size: 1.3rem;
        margin-left: 0;
    }

    #span-info-libro-d h4{
        font-size: .95rem;
        margin-top: 55px;
    }
    #span-info-libro-d h5,
    #span-disponibilidad-libro-d {
        font-size: 0.95rem;
    }

    #span-info-libro-d h5{
        position: absolute;
        right: 1rem;
        top: -5.1rem;
        height: 20px;
    }
    
    #h4-disponible,#h4-no_disponible{
        position: absolute;
        margin: auto;
    }
    h1{
        font-size: 2rem !important;
    }
    
}
@media (max-width: 480px) {
    .seccion-libros-destacados a{
        width: 98%;
    }
    .div-libro-destacado{
        width: 100%;
        height: 22rem;
    }
    .div-contenedor-libros-destacados{
        width: auto;
    }
    .span-notacion{
        width: 94.8%;
        border-radius: 10px 10px 0 0;
        justify-content: flex-start;
        padding-left: 1rem;
    }
    #span-info-libro-d h5{
        top: -5.4rem;
    }
}