/*? Fondo y fuentes*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.main{
    /*
    background-color: #6B3E2E;
    */
    background-image: url('img/libros-loop-v4.jpg');
    background-size: cover;
    background-position: top;
    height: 140vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: #fffbf2; 
}

/*? Botones*/
.botones {
    display: flex;
    position: absolute;
    top: 70%; 
    width: 100%;
    justify-content: center;
}

#btn-registrar, #btn-buscar, #btn-catalogo, #btn-login, #btn-registrar-prestamo{
    text-decoration: none;
    color: white;
    background-color: #00000071;
    padding: 12px 22px;
    font-size: 1.4rem;
    border: none;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}
#btn-catalogo{
    background-color: #00000068;
    scale: 1.1;
}

#btn-registrar:hover, #btn-buscar:hover, #btn-catalogo:hover,#btn-login:hover, #btn-registrar-prestamo:hover{
    background-color: #000000a9;
}

/*? Sugerencias */

.ul-contenedor-sugerencias{
    background-color: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    padding: 0;
    overflow-y: auto;
    border-radius: 10px;

    position: absolute;
    top: 83%;
    width: 20%;
    transition: 0.1s ease-out;
    z-index: 1;
    max-height: 70%;

}
/*
.input-lugar{
    position: relative;
}*/
.activar{
    opacity: 1;
    pointer-events: auto;
    padding: 10px 8px;
}

.activar li{
    display: block;
}


.ul-contenedor-sugerencias li{
    list-style: none;

    padding: 12px 16px;
    cursor:pointer;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    
}

.ul-contenedor-sugerencias li:hover{
    background-color: #000000a9;
}


/*? Barra de navegacion*/
.navbar{
    background-color: #00000071;
    width: 100%;
    height: 8%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-left: none !important;
    border-right: none !important;
    z-index: 50;
    
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
    transition: 0.1s ease-in;
    border-radius: 4px;
}

.navbar a:hover{
    background-color: #0000005d;
}
.fondo-cristal{
    /*
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    */
    background: linear-gradient(rgba(31,31,31,0.6),rgba(31,31,31,0.45));

    backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: solid 1px rgba(255, 255, 255, 0.21);
    border-radius: 4px;
}

/*? Errores */
#error{
    color: rgb(255, 49, 49);
    text-align: center;
}
#exito{
    color: greenyellow;
    text-align: center;
}


/*? Paginacion */
.paginacion {
    position: fixed;
    text-align: center;
    margin: 20px;
    width: 100%;
    bottom: 0;

    z-index: 1;
}

.paginacion a, .paginacion strong {
    margin: 0 5px;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #e5e5e5;
    background-color: #0000003a;
    transition: 0.2s ease-in-out;

}

.paginacion strong {
    font-weight: bold;
    background-color: #000000ba;
}
.paginacion a:hover{
    background-color: #00000098;
}

.error-eliminacion{
    background-color: rgba(255, 216, 216, 0.835);
    border: solid 1px rgb(170, 2, 2);
    color: rgb(101, 0, 0);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    height: auto;
    width: 20%;
    top: 25%;
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    animation-name: alerta;
    animation-duration: 4s;
    opacity: 0;
    visibility: hidden;
}

.exito-ingreso{
    background-color: rgba(230, 255, 230, 0.912);
    border: solid 1px rgb(13, 170, 2);
    color: rgb(1, 126, 36);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    height: auto;
    width: 20%;
    top: 25%;
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    animation-name: alerta;
    animation-duration: 4s;
    opacity: 0;
    visibility: hidden;
}

.devuelto{
    background-color: rgba(230, 253, 255, 0.912);
    border: solid 1px rgb(2, 106, 170);
    color: rgb(1, 80, 126);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    height: auto;
    width: 20%;
    top: 25%;
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    animation-name: alerta;
    animation-duration: 4s;
    opacity: 0;
    visibility: hidden;
}

.footer {
    color: var(--white);
    padding: 2rem 0;
    background-color: #100a07dc;
    backdrop-filter: blur(10px);
    z-index: -10;
}

.footer-grid {
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .logo {
    color: var(--white);
}

.footer-copyright {
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7);
}


@keyframes alerta {
    0%{
        width: 10%;
        opacity: 0;
        visibility: hidden;
    }
    
    10%{
        width: 30%;
        opacity: 1;
        visibility: visible;
    }
    85%{
        width: 30%;
        opacity: 1;
        visibility: visible;
    }
    
    100%{
        width: 15%;
        opacity: 0;
        visibility: hidden;
    }
}


@media (max-width: 1024px) {


}


@media (max-width: 768px) {
    .navbar a{
        font-size: 1.2rem;
        padding: 10px;
        display: flex;
        align-items: center;

    }
    .navbar nav{
        display: flex;
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .navbar a{
        font-size: 1.2rem;
        padding: 10px;
        display: flex;
        align-items: center;

    }
    .navbar nav{
        display: none;

    }

}


