<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Comunitaria Gabriela Mistral</title>
    <link rel="icon" href="/static/img/books_3145874.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='barra_lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_inicio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
    <header>

        <div class="navbar fondo-cristal">
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <nav>
                <a href="{{ url_for('login') }}">Iniciar como administrador</a>
                <a href="{{ url_for('libros') }}">Catálogo </a>
                <a href="{{ url_for('acercade') }}">Acerca de</a>

            </nav>
        </div>
    </header>
    <main>
        <section class="barra-lateral fondo-cristal">
            <nav>
                <button class="boton-lateral-cerrar fondo-cristal">Cerrar</button>
                <br>
                <a href="{{ url_for('login') }}">Iniciar como administrador</a>
                <a href="{{ url_for('libros') }}">Catálogo de Libros</a>
                <a href="{{ url_for('acercade') }}">Acerca de</a>
            </nav>
        </section>
        <button class="boton-lateral fondo-cristal">Menú</button>

        <!-- SECCION PRINCIPAL -->
        <section class="seccion-principal">
            <div class="botones">
                <a class="fondo-cristal" id="btn-catalogo" href="{{ url_for('libros') }}"> Explora nuestro catálogo </a>
            </div>
        </section>

    <!-- SECCION LIBROS DESTACADOS -->
    <section class="seccion-libros-destacados">
        <h1 class="h1-titulo">Libros destacados</h1>
        <!--select l.id_libro,count(l.id_libro) as cantidad, n.notacion, l.Titulo, a.nombre_autor, 
        a.apellido_autor, l.ano_publicacion, sd.codigo_seccion, sd.seccion, l.numero_copias-->
        <div class="div-contenedor-libros-destacados">
            {% for libro in libros_destacados %}
            <a href="{{ url_for('buscar_libro', buscar=libro[3], filtro_busqueda='Titulo', categorias='Todas') }}">
            <div class="div-libro-destacado">
            
                <span class="span-notacion-{{libro[7]}}"
                    {% if (libro[7]|int) < 100 %}
                        id="h2-seccion-0"
                    {% elif (libro[7]|int) < 200 %}
                        id="h2-seccion-1"
                    {% elif (libro[7]|int) < 300 %}
                        id="h2-seccion-2"
                    {% elif (libro[7]|int) < 400 %}
                        id="h2-seccion-3"
                    {% elif (libro[7]|int) < 500 %}
                        id="h2-seccion-4"
                    {% elif (libro[7]|int) < 600 %}
                        id="h2-seccion-5"
                    {% elif (libro[7]|int) < 700 %}
                        id="h2-seccion-6"
                    {% elif (libro[7]|int) < 800 %}
                        id="h2-seccion-7"
                    {% elif (libro[7]|int) < 900 %}
                        id="h2-seccion-8"
                    {% else %}
                        id="h2-seccion-9"
                    {% endif %} > 
                    <h2>{{libro[2]}}</h2> 
                </span><!-- Notacion  -->
                
                <span id="span-info-libro-d"> 
                    <h3>{{libro[3]}}</h3> <!-- Titulo  --> 
                    <h4>{{libro[4]}}&nbsp;{{libro[5]}} <!-- Nombre y apellido del autor  -->
                    {{libro[6]}} </h4> <!-- Anio de publicacion  -->
                    
                    <h5
                        {% if (libro[7]|int) < 100 %}
                            id="h4-seccion-0"
                        {% elif (libro[7]|int) < 200 %}
                            id="h4-seccion-1"
                        {% elif (libro[7]|int) < 300 %}
                            id="h4-seccion-2"
                        {% elif (libro[7]|int) < 400 %}
                            id="h4-seccion-3"
                        {% elif (libro[7]|int) < 500 %}
                            id="h4-seccion-4"
                        {% elif (libro[7]|int) < 600 %}
                            id="h4-seccion-5"
                        {% elif (libro[7]|int) < 700 %}
                            id="h4-seccion-6"
                        {% elif (libro[7]|int) < 800 %}
                            id="h4-seccion-7"
                        {% elif (libro[7]|int) < 900 %}
                            id="h4-seccion-8"
                        {% else %}
                            id="h4-seccion-9"
                        {% endif %} >
                        {{libro[7]}} - {{libro[8]}} 
                    </h5> <!-- Codigo de seccion + seccion  --> 
                </span>
                {% if libro[9]|int == 1 %}
                <span id="span-disponibilidad-libro-d"> <h4 id="h4-disponible">Disponible: {{libro[9]}} copia</h4></span>
                {% elif libro[9]|int > 1 %}
                <span id="span-disponibilidad-libro-d"> <h4 id="h4-disponible">Disponible: {{libro[9]}} copias</h4></span>
                {% else %}
                <span id="span-disponibilidad-libro-d"> <h4 id="h4-no_disponible">No disponible</h4></span>
                {% endif %}
            </div>
            </a>
            {% endfor %}
    </div>
    </section>

        <!-- SECCION Actividades -->
        <section class="seccion-actividades">
    <h1 class="h1-titulo">Actividades</h1>
    <div class="contenedor-actividades fondo-cristal">
               
        <div class="cuadricula-actividades">
            <div class="tarjeta-actividad" data-categoria="educativa" id="hora-cuento">
                <h3>Hora de Cuento</h3>
                <span class="etiqueta etiqueta-educativa">Educativa</span>
                <h5>Lectura dirigida a niños de 4 a 7 años de edad con previa programación por bibliotecario y docente.</h5>
            </div>
            
            <div class="tarjeta-actividad" data-categoria="educativa" id="estimulacion-temprana">
                <h3>Estimulación Temprana</h3>
                <span class="etiqueta etiqueta-educativa">Educativa</span>
                <h5>Desarrollo de la motricidad mediante juego y lecturas con niños de 0 a 3 años de edad Horario: Lunes de 9:00AM a 10:00AM</h5>
            </div>
            
            <div class="tarjeta-actividad" data-categoria="educativa" id="club-tecnologia">
                <h3>Club de Tecnología</h3>
                <span class="etiqueta etiqueta-educativa">Educativa</span>
                <h5>Jovenes voluntarios imparten clases o talleres básicos de temas de computación y tecnología.</h5>
            </div>
            
            <div class="tarjeta-actividad" data-categoria="educativa" id="mentes-brillantes">
                <h3>Club de Mentes Brillantes</h3>
                <span class="etiqueta etiqueta-educativa">Educativa</span>
                <h5>Grupo de jóvenes voluntarios que llevan lecturas a los centros básicos de la comunidad y alrededores con previa programación entre docentes y voluntarios.</h5>
            </div>
            
            <div class="tarjeta-actividad" data-categoria="educativa" id="clases-vacacionales">
                <h3>Clases Vacacionales</h3>
                <span class="etiqueta etiqueta-educativa">Educativa</span>
                <h5>Planificación de actividades manuales y creativas en el periodo de vacaciones.</h5>
            </div>
            
            <div class="tarjeta-actividad" data-categoria="recreativa" id="juegos">
                <h3>Juegos</h3>
                <span class="etiqueta etiqueta-recreativa">Recreativa</span>
                <h5>-Ajedrez <br> -Damas <br> -Legos <br> -Juegos de memorización</h5>
            </div>
            
            <div class="tarjeta-actividad" data-categoria="recreativa" id="recreativas">
                <h3>Actividades Recreativas</h3>
                <span class="etiqueta etiqueta-recreativa">Recreativa</span>
                <h5>Tarde de Película <br> Tarde de Karaoke</h5>
            </div>
            
            <div class="tarjeta-actividad" data-categoria="social" id="club-lectura">
                <h3>Club de Lectura</h3>
                <span class="etiqueta etiqueta-social">Social</span>
                <h5>Se llevan lecturas de cuentos, fabulas o narrativas cortas, a escuelas ya establecidas para leer y comentar con los niños.</h5>
            </div>

        </div>
    </div>
</section>

    </main>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            
            <div class="footer-copyright">
                <p>&copy; <span id="current-year"></span> Biblioteca Municipal. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/menu.js"></script>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
    <script src="/static/js/menu.js"></script>
    </body>
</html>


        <!--
        <!-- SECCION LIBROS DESTACADOS
        <section class="seccion-libros-destacados">
            <h1 class="h1-titulo">Libros destacados</h1>
            <div class="div-contenedor-libros-destacados">
                <!--! Dibujar a mano la forma del libro, con objetos y contenedores 
                <div class="div-libro-destacado">
                
                    <span class="span-notacion" id="h2-seccion-9"> 
                        <h2>notacion</h2> 
                    </span>
                    
                    <span id="span-info-libro-d"> 
                        <h2>titulo</h2>  
                        <h3>nombre y apellido del autor 
                        anio de publicacion </h3> 
                        
                        <h4 id="h4-seccion-9">
                            codigo de secicon + seccion
                        </h4> 
                    
                    </span>
                    
                    <span id="span-disponibilidad-libro-d"> <h4 id="h4-disponible">Disponible: x copias</h4></span>
                    <!--
                        <span id="span-disponibilidad-libro-d"> <h4 id="h4-no_disponible">No disponible</h4></span>

                </div>

            </div>
        </section>
        -->