<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de libros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_insertar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='barra_lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">

</head>
<body>
    <header>

        <div class="navbar fondo-cristal">
            <a href="{{ url_for('logout') }}">Cerrar sesion</a>
        </div>
    </header>
    <main class="main">

        {% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %}
        <section class="barra-lateral fondo-cristal">
            <h2>Administracion</h2>
            <h4>Usuario: <br>
                {{session["rol"]}}&nbsp;{{session["usuario"]}}</h4>
            <nav>
                <button class="boton-lateral-cerrar fondo-cristal">Cerrar</button>
                <a href="{{ url_for('prestamos') }}">Prestamos </a>
                <a href="{{ url_for('registro_prestamos') }}">Registro Prestamos</a>
                <a href="{{ url_for('libros') }}">Catálogo de Libros</a>
                <a href="{{ url_for('insertar_libro') }}" id="pagina-actual">Registro de Libros</a>
                {% if session["rol"] == "Administrador" %}
                <a href="{{ url_for('usuarios') }}">Usuarios</a>
                <a href="{{ url_for('registrar_usuarios') }}">Registro de Usuarios</a>
                <a href="{{ url_for('libros_eliminados') }}">Libros Eliminados</a>
                <a href="{{ url_for('prestamos_eliminados') }}">Prestamos Eliminados</a>
                {% endif %}
                
            </nav>
        </section>
        <button class="boton-lateral fondo-cristal">Menu</button>
        {% endif %}

        <h1 id="h1-titulo">Registrar nuevo libro</h1>
        <h5 id="h5-nota">Complete el formulario para agregar un nuevo libro al catálogo de la biblioteca.</h5>
        
        <div class="div-container-insertar">
            
            <form method="POST" action="/insertar" class="formulario-insertar">
                
                <!--TODO: REDORDENAR DATOS PARA MAYOR COMODIDAD-->
                
                <label for="titulo">Titulo*</label>
                <label for="nombre_autor apellido_autor">Datos del autor</label>
                
                <input type="text" name="titulo" placeholder="" autocomplete="off" required>
                <span id="span-informacion-autor">
                    <input type="text" name="nombre_autor" class="input-autor" placeholder="Nombre" autocomplete="off">
                    <input type="text" name="apellido_autor" class="input-autor" placeholder="Apellido" autocomplete="off">
                </span>
                
                <label for="ISBN">ISBN</label>
                <label for="editorial">Editorial</label>
                
                <input type="text" name="ISBN" placeholder="" autocomplete="off">
                <input type="text" name="editorial" class="input-editorial" placeholder="" autocomplete="off">
                
                <label for="tomo">Tomo</label>
                <label for="paginas">Numero de Paginas*</label>
                
                <input type="text" name="tomo" placeholder="" autocomplete="off">
                <input type="number" name="num_paginas" placeholder="" autocomplete="off" required>
                
                <label for="copias">Numero de Copias*</label>
                <label for="sistema_dewey">Sistema Dewey</label>
                
                <input type="text" name="num_copias" placeholder="" autocomplete="off" required>
                <select name="sistema_dewey" id="" >
                    {% for ultima in ultima_seccion %}
                    <option value="{{ ultima[0] }}">{{ ultima[0] }} - {{ ultima[1] }}</option>
                    {% endfor %}
                    {% for seccion in secciones %}
                    <option value="{{ seccion[0] }}">{{ seccion[0] }} - {{ seccion[1] }}</option>
                    {% endfor %}
                </select>
                
                <label for="lugar">Lugar de Publicacion</label>
                <label for="anio">Año de Publicacion</label>
                
                <input type="text" name="lugar" class="input-lugar" placeholder="" autocomplete="off">
                <input type="text" name="anio" placeholder="" autocomplete="off">
                
                <ul class="ul-contenedor-sugerencias">
                    <li>sugerencia 1</li>
                    <li>sugerencia 2</li>
                </ul>
                
                <button id="btn-registrar" type="submit">Registrar libro</button>
                {% if (error) %}
                    <label id="error" for="error">{{error}}</label>
                {% elif (registro_exitoso)  %}
                    <label id="exito" for="registro_exitoso">{{registro_exitoso}}</label>
                {% endif %}
            
            
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/sugerencias.js') }}"></script>
    <script src="/static/js/menu.js"></script>
</body>
</html>

