<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_libros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='filtros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">

</head>
<body>
    <header>
        <div class="navbar">
            <a href="{{ url_for('inicio') }}">Inicio</a>
        </div>
    </header>
    <main>
        <div class="div-busqueda">
            <form class="frm-buscar" action="/buscar_libro" method="POST">
                <label for="buscar"><h1>Catalogo de Libros</h1>Explora nuestra colección de libros y encuentra tu próxima lectura.</label><br><br><br>
                <input class="buscar" id="cuadro-busqueda" type="text" name="buscar" autocomplete="off" placeholder="Buscar...">&nbsp;&nbsp;
                <section class="menu-filtros">
                    <nav>
                        <section>
                            <h4> Buscar por: &nbsp;&nbsp;</h4>
                            <select name="filtro-busqueda" id="filtro-busqueda">
                                <option value="Titulo">Titulo</option>
                                <option value="Autor">Autor</option>
                            </select>
                        </section>
                        <section>
                            <h4> Categorias: &nbsp;&nbsp; </h4>
                            <select name="categorias" id="categorias">
                                <option value="Todas">Todas</option>
                                {% for categoria in categorias %}
                                <option value="{{categoria[0]}}">{{categoria[0]}} - {{categoria[1]}}</option>
                                {% endfor %}
                            </select>
                        </section>
                    </nav>
                </section>
                    
                <button id="btn-buscar" type="submit">Buscar</button>
                <ul class="ul-contenedor-sugerencias">
                    <li>sugerencia 1</li>
                </ul>
            </form>
        </div>

        

        <div class="contendor-catalogo">
            {% for libro in libros%}
            <div class="libro">
                <!-- Las siguientes decisiones aplican diferentes estilos dependiendo de la seccion del libro -> (libro[7]) -->
                <span class="span-notacion" 
                    {% if (libro[7]|int) < 100 %}
                        id="h2-seccion-0"
                    {% elif (libro[7]|int) < 200 %}
                        id="h2-seccion-1"
                    {% elif (libro[7]|int) < 300 %}
                        id="h2-seccion-2"
                    {% elif (libro[7]|int) < 400 %}
                        id="h2-seccion-3"
                    {% elif (libro[7]|int) < 500 %}
                        id="h2-seccion-4"
                    {% elif (libro[7]|int) < 600 %}
                        id="h2-seccion-5"
                    {% elif (libro[7]|int) < 700 %}
                        id="h2-seccion-6"
                    {% elif (libro[7]|int) < 800 %}
                        id="h2-seccion-7"
                    {% elif (libro[7]|int) < 900 %}
                        id="h2-seccion-8"
                    {% else %}
                        id="h2-seccion-9"
                    {% endif %} > 
                    <h2>{{libro[12]}}</h2> 
                </span><!-- Notacion  -->
                    
                <span id="span-info-libros"> 
                    <h2>{{libro[1]}}</h2> <!-- Titulo  --> 
                    <h3>{{libro[9]}} {{libro[10]}} <!-- Nombre y apellido del autor  -->
                        {{libro[3]}} </h3> <!-- Anio de publicacion  -->
                        
                    <h4
                        {% if (libro[7]|int) < 100 %}
                            id="h4-seccion-0"
                        {% elif (libro[7]|int) < 200 %}
                            id="h4-seccion-1"
                        {% elif (libro[7]|int) < 300 %}
                            id="h4-seccion-2"
                        {% elif (libro[7]|int) < 400 %}
                            id="h4-seccion-3"
                        {% elif (libro[7]|int) < 500 %}
                            id="h4-seccion-4"
                        {% elif (libro[7]|int) < 600 %}
                            id="h4-seccion-5"
                        {% elif (libro[7]|int) < 700 %}
                            id="h4-seccion-6"
                        {% elif (libro[7]|int) < 800 %}
                            id="h4-seccion-7"
                        {% elif (libro[7]|int) < 900 %}
                            id="h4-seccion-8"
                        {% else %}
                            id="h4-seccion-9"
                        {% endif %} >
                        {{libro[7]}} - {{libro[8]}} 
                    </h4> <!-- Codigo de seccion + seccion  --> 
                </span>
                
                <!-- Verificacion de disponibilidad comparando el numero de copias -> (libro[6]) -->
                <span id="span-disponibilidad-libros"> 
                    {% if (libro[6]|int) > 0 %} 
                        <h4 id="h4-disponible">Disponible: 
                            {% if (libro[6]|int == 1)%}
                                {{libro[6]}} copia
                            {% else %}
                                {{libro[6]}} copias
                            {% endif %}
                        </h4>
                    
                    {% else %}
                        <h4 id="h4-no_disponible">No disponible</h4>
                    {% endif %}
                    {% if session["rol"] == 'Administrador' %}
                    <form class="frm-eliminar-libro" action="/eliminar_libro" method="POST">
                        <input type="text" value="{{libro[0]}}" name="id_libro"> 
                        <button type="submit"> Eliminar </button>
                    </form>
                    {% endif %}
                </span>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>

    </footer>
    <script src="/static/js/sugerencias.js"></script>
</body>
</html>

    <!--
        <div class="libros">
            <table>
                <tr>
                    <td>Titulo</td>
                    <td>Seccion</td>
                    <td>Autor</td>
                    <td>Editorial</td>
                </tr>
            {% for libro in libros %}
            <div>
                <tr class="libro">
                    <td>{{libro[1]}}</td> <!-- Titulo  --
                    <td>{{libro[7]}} - {{libro[8]}}</td> <!-- Codigo de seccion + seccion  --
                    <td>{{libro[9]}} {{libro[10]}} </td> <!-- Nombre y apellido del autor  --
                    <td>{{libro[11]}}</td> <!-- Editorial  --
                    <td class="informacion-libros">
                        <br>
                        INFO: <br><br>
                        Tomo: {{libro[2]}} <br>
                        Año de Publicacion: {{libro[3]}} <br>
                        ISBN: {{libro[4]}} <br>
                    Numero de paginas: {{libro[5]}} <br>
                    Numero de copias: {{libro[6]}} <br>
                </td>
            </tr>
            
            {% endfor %}
            
            
            
        </table>
    </div>
    -->