<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de libros</title>
    <link rel="icon" href="/static/img/books_3145874.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_libros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='barra_lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='filtros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">

</head>
<body>
    <header>
        <div class="navbar fondo-cristal">
            {% if session %}
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            {% else %}
                <a href="{{ url_for('inicio') }}">Inicio</a>
            {% endif %}
            
        </div>
    </header>
    <main>

        {% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %}
        <section class="barra-lateral fondo-cristal">
            <h2>Administración</h2>
            <h4>Usuario: <br>
            {{session["rol"]}}&nbsp;{{session["usuario"]}}</h4>
            <nav>
                <button class="boton-lateral-cerrar fondo-cristal">Cerrar</button>
                <a href="{{ url_for('prestamos.prestamos') }}">Préstamos </a>
                <a href="{{ url_for('prestamos.registro_prestamos') }}">Registro Préstamos</a>
                <a href="{{ url_for('libros.libros') }}" id="pagina-actual">Catálogo de Libros </a>
                <a href="{{ url_for('libros.insertar_libro') }}">Registro de Libros</a>
                {% if session["rol"] == "Administrador" %}
                <a href="{{ url_for('usuarios.usuarios') }}">Usuarios</a>
                <a href="{{ url_for('usuarios.registrar_usuarios') }}">Registro de Usuarios</a>
                <a href="{{ url_for('libros.libros_eliminados') }}">Libros Eliminados</a>
                <a href="{{ url_for('prestamos.prestamos_eliminados') }}">Préstamos Eliminados</a>
                {% endif %}
                <a target="_blank" href="https://www.canva.com/design/DAGnUI0PU7M/cDvkG9fCgPKL4FTZee_YLQ/edit">Ayuda</a>
            
            </nav>
        </section>
        <button class="boton-lateral fondo-cristal">Menú</button>
        {% endif %}

        <div class="div-busqueda">
            <form class="frm-buscar" action="/buscar_libro" method="GET">
                <label for="buscar"><h1>Catálogo de Libros</h1>Explora nuestra colección de libros y encuentra tu próxima lectura.</label><br><br><br>
                <input class="buscar" id="cuadro-busqueda" type="text" name="buscar" autocomplete="off" placeholder="Buscar...">&nbsp;&nbsp;
                <section class="menu-filtros">
                    <nav>
                        <section>
                            <h4> Buscar por: &nbsp;&nbsp;</h4>
                            <select name="filtro-busqueda" id="filtro-busqueda">
                                <!-- Estas decisiones sirven para guardar la seleccion de filtros -->
                                <option value="Titulo" 
                                    {% if filtro_busqueda == "Titulo" %}
                                        selected
                                    {% endif %}>
                                    Titulo
                                </option>
                                <option value="Autor" 
                                    {% if filtro_busqueda == "Autor" %}
                                        selected
                                    {% endif %}>
                                    Autor
                                </option>
                            </select>
                        </section>
                        <section>
                            <h4> Categorias: &nbsp;&nbsp; </h4>
                            <select name="categorias" id="categorias">
                                <option value="Todas" 
                                    {% if Seccion == "Todas" %}
                                        selected
                                    {% endif %}>
                                    Todas
                                </option>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria[0] }}" 
                                        {% if Seccion == categoria[0]|string %}
                                            selected
                                        {% endif %}>
                                        {{ categoria[0] }} - {{ categoria[1] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </section>
                    </nav>
                </section>
                    
                <button id="btn-buscar" type="submit">Buscar</button>
                <ul class="ul-contenedor-sugerencias">
                    <li>sugerencia 1</li>
                </ul>
            </form>
        </div>

        {% if (alerta) %}
        <span class="error-eliminacion">
            <h4><strong>{{alerta}}</strong></h4>
        </span>
        {% elif (exito) %}
        <span class="exito-ingreso">
            <h4><strong>{{exito}}</strong></h4>
        </span>
        {% endif %}

        <div class="contendor-catalogo">
            {% for libro in libros%}
            <div class="libro">
                <!-- Las siguientes decisiones aplican diferentes estilos dependiendo de la seccion del libro -> (libro[7]) -->
                <span class="span-notacion" 
                    {% if (libro[7]|int) < 100 %}
                        id="h2-seccion-0"
                    {% elif (libro[7]|int) < 200 %}
                        id="h2-seccion-1"
                    {% elif (libro[7]|int) < 300 %}
                        id="h2-seccion-2"
                    {% elif (libro[7]|int) < 400 %}
                        id="h2-seccion-3"
                    {% elif (libro[7]|int) < 500 %}
                        id="h2-seccion-4"
                    {% elif (libro[7]|int) < 600 %}
                        id="h2-seccion-5"
                    {% elif (libro[7]|int) < 700 %}
                        id="h2-seccion-6"
                    {% elif (libro[7]|int) < 800 %}
                        id="h2-seccion-7"
                    {% elif (libro[7]|int) < 900 %}
                        id="h2-seccion-8"
                    {% else %}
                        id="h2-seccion-9"
                    {% endif %} > 
                    <h2>{{libro[12]}}</h2> 
                </span><!-- Notacion  -->
                    
                <span id="span-info-libros"> 
                    <h3>{{libro[1]}}</h3> <!-- Titulo  --> 
                        
                    <h4><br>{{libro[9]}} {{libro[10]}} <!-- Nombre y apellido del autor  -->
                        {{libro[3]}} </h4> <!-- Anio de publicacion  -->
                        
                    <h5
                        {% if (libro[7]|int) < 100 %}
                            id="h4-seccion-0"
                        {% elif (libro[7]|int) < 200 %}
                            id="h4-seccion-1"
                        {% elif (libro[7]|int) < 300 %}
                            id="h4-seccion-2"
                        {% elif (libro[7]|int) < 400 %}
                            id="h4-seccion-3"
                        {% elif (libro[7]|int) < 500 %}
                            id="h4-seccion-4"
                        {% elif (libro[7]|int) < 600 %}
                            id="h4-seccion-5"
                        {% elif (libro[7]|int) < 700 %}
                            id="h4-seccion-6"
                        {% elif (libro[7]|int) < 800 %}
                            id="h4-seccion-7"
                        {% elif (libro[7]|int) < 900 %}
                            id="h4-seccion-8"
                        {% else %}
                            id="h4-seccion-9"
                        {% endif %} >
                        {{libro[7]}} - {{libro[8]}} 
                    </h5> <!-- Codigo de seccion + seccion  --> 
                </span>

                
                
                <!-- Verificacion de disponibilidad comparando el numero de copias -> (libro[6]) -->
                <span id="span-disponibilidad-libros"> 
                    {% if (libro[6]|int) > 0 %} 
                        <h4 id="h4-disponible">Disponible: 
                            {% if (libro[6]|int == 1)%}
                                {{libro[6]}} copia
                            {% else %}
                                {{libro[6]}} copias
                            {% endif %}
                        </h4>
                    
                    {% else %}
                        <h4 id="h4-no_disponible">No disponible</h4>
                    {% endif %}
                    <span id="span-acciones-libro">
                        {% if (session["rol"] == 'Administrador' or (session["rol" == 'Bibliotecario'])) %}
                        <form class="frm-eliminar-libro" action="/eliminar_libro" method="POST">
                            <input type="text" value="{{libro[0]}}" name="id_libro"> 
                            <button type="reset" class="btn-eliminacion"> Eliminar </button>
                            <span class="motivo_eliminacion">
                                <input type="text" placeholder="Escribe el motivo de la eliminacion del libro" name="motivo" required autocomplete="off">
                                <button type="submit">Confirmar eliminación</button> <button type="reset" class="btn-cancelar-eliminacion">Cancelar</button>
                            </span>
                        </form>
                        {% endif %}
                    </span>
                </span>
                <span id="span-datos-libro2">
                    <h4 class="h4-datos-libro2">
                        ISBN: {{libro[4]}}<br>
                        Tomo:  {{libro[2]}}<br>
                        Número de páginas: {{libro[5]}}<br>
                        Editorial: {{libro[11]}}<br>
                        Lugar: {{libro[13]}} 
                    </h4> <!-- Datos extras del libro  --> 
                </span>
            </div>
            {% endfor %}
            <br><br><br><br>
        </div>
        <div class="paginacion">
            {% if pagina > 1 %} <!-- Verifica que la pagina actual sea despues de la primera, para mostrar un boton de "Anterior" -->
                <a href="{{ url_for('libros.buscar_libro', pag=pagina - 1, buscar=busqueda, categorias=Seccion, filtro_busqueda=filtro_busqueda) }}">Anterior</a> <!-- Este enlace lleva a la pagina anterior "pagina-1" -->
            {% endif %}
        
            {% for p in range(pagina - 1, pagina + 2) %}
                {% if (1 <= p) and (p <= total_paginas) %}
                    {% if p == pagina %} <!-- Verifica cual es la pagina actual para aplicarle otro estilo -->
                        <strong>{{ p }}</strong>
                    {% else %} <!-- Genera todos los demas enlaces o "numeros de pagina", "[1],[2],[3]" -->
                        <a href="{{ url_for('libros.buscar_libro', pag=p, buscar=busqueda, categorias=Seccion, filtro_busqueda=filtro_busqueda) }}">{{ p }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}   
        
            {% if (pagina < total_paginas) %} <!-- Verifica que la pagina actual no sea la ultima, para mostrar un boton de "Siguiente" -->
                <a href="{{ url_for('libros.buscar_libro', pag=pagina + 1, buscar=busqueda, categorias=Seccion, filtro_busqueda=filtro_busqueda) }}">Siguiente</a> <!-- Este enlace lleva a la pagina siguiente "pagina+1" -->
            {% endif %}
        </div>            
    </main>

    <script src="/static/js/sugerencias.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/eliminar_item.js"></script>
</body>
</html>
