<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros eliminados</title>
    <link rel="icon" href="/static/img/books_3145874.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_prestamos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='barra_lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='filtros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_prestamos_eliminados.css') }}">

</head>
<body>
    <header>

        <div class="navbar fondo-cristal">
            <a href="{{ url_for('logout') }}">Cerrar sesion</a>
        </div>
    </header>
    <main>

        {% if ((session["rol"]) == "Administrador")%}
        <section class="barra-lateral fondo-cristal">
            <h2>Administración</h2>
            <h4>Usuario: <br>
            {{session["rol"]}}&nbsp;{{session["usuario"]}}</h4>
            <nav>
                <button class="boton-lateral-cerrar fondo-cristal">Cerrar</button>
                <a href="{{ url_for('prestamos') }}">Préstamos </a>
                <a href="{{ url_for('registro_prestamos') }}">Registro Préstamos</a>
                <a href="{{ url_for('libros') }}">Catálogo de Libros </a>
                <a href="{{ url_for('insertar_libro') }}">Registro de Libros</a>
                {% if session["rol"] == "Administrador" %}
                <a href="{{ url_for('usuarios') }}">Usuarios</a>
                <a href="{{ url_for('registrar_usuarios') }}">Registro de Usuarios</a>
                <a href="{{ url_for('libros_eliminados') }}" id="pagina-actual">Libros Eliminados</a>
                <a href="{{ url_for('prestamos_eliminados') }}">Préstamos Eliminados</a>
                {% endif %}
                <a target="_blank" href="https://www.canva.com/design/DAGnUI0PU7M/cDvkG9fCgPKL4FTZee_YLQ/edit">Ayuda</a>
        </section>
        <button class="boton-lateral fondo-cristal">Menú</button>
        {% endif %}

        <div class="div-busqueda">
            <form class="frm-prestamos" action="/buscar_libro_eliminado" method="GET">
                <label for="buscar_libro_eliminado"><h1>Libros Eliminados</h1>Ver quien elimino que libro y cual fue su motivo.</label><br><br><br>
                <input class="buscar-libro-eliminado" id="cuadro-busqueda" type="text" name="buscar_libro_eliminado" autocomplete="off" placeholder="Buscar...">&nbsp;&nbsp;
                
                <section class="menu-filtros">
                    <nav>
                        <section>
                            <h4> Buscar por: &nbsp;&nbsp;</h4>
                            <select name="filtro-busqueda" id="filtro-busqueda">
                                <!-- Estas decisiones sirven para guardar la seleccion de filtros -->
                                <option value="Titulo" 
                                    {% if filtro_busqueda == "Titulo" %}
                                        selected
                                    {% endif %}>
                                    Titulo
                                </option>
                                <option value="Administrador" 
                                    {% if filtro_busqueda == "Administrador" %}
                                        selected
                                    {% endif %}>
                                    Usuario
                                </option>
                            </select>
                        </section>

                    </nav>
                </section>
                
                <button id="btn-buscar" type="submit">Buscar</button>

                <ul class="ul-contenedor-sugerencias">
                    <li>sugerencia 1</li>
                </ul>
            </form>
        </div>
        <div class="contendor-prestamos">
            {% for libro in libros_eliminados %}
            <div class="prestamo">
                
                <span class="span-fechas"> 
                    <h2>Fecha eliminacion: <br>{{libro[2]}}</h2>
                </span><!-- Fecha  -->
                
                <span id="span-info-prestamos"> 
                    <p> El <strong>{{libro[1]}}&nbsp;{{libro[0]}}</strong> eliminó un libro 
                        con el titulo <strong>{{libro[3]}}</strong>.
                    <br><strong>Motivo: </strong>{{libro[4]}}</p> 
                </span>
            </div>
            {% endfor %}
            <br><br><br><br>
            
        </div>        
        
        <div class="paginacion">
            {% if pagina > 1 %} <!-- Verifica que la pagina actual sea despues de la primera, para mostrar un boton de "Anterior" -->
                <a href="{{ url_for('buscar_libro_eliminado', page=pagina - 1, buscar_libro_eliminado=busqueda, estados=estados, filtro_busqueda=filtro_busqueda) }}">Anterior</a> <!-- Este enlace lleva a la pagina anterior "pagina-1" -->
            {% endif %}
        
            {% for p in range(pagina - 1, pagina + 2) %}
                {% if 1 <= p <= total_paginas %}
                    {% if p == pagina %}
                        <strong>{{ p }}</strong>
                    {% else %}
                        <a href="{{ url_for('buscar_libro_eliminado', page=p, buscar_libro_eliminado=busqueda, filtro_busqueda=filtro_busqueda) }}">{{ p }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %} 
        
            {% if pagina < total_paginas %} <!-- Verifica que la pagina actual no sea la ultima, para mostrar un boton de "Siguiente" -->
                <a href="{{ url_for('buscar_libro_eliminado', page=pagina + 1, buscar_libro_eliminado=busqueda, estados=estados, filtro_busqueda=filtro_busqueda) }}">Siguiente</a> <!-- Este enlace lleva a la pagina siguiente "pagina+1" -->
            {% endif %}
        </div> 
    </main>
    
    <script src="/static/js/sugerencias.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/eliminar_item.js"></script>
</body>
</html>
