<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">

</head>
<body>
    <header>

        <div class="navbar fondo-cristal">
            <a href="{{ url_for('inicio') }}">Inicio</a>
        </div>
    </header>
    <main class="main">
        <div class="div-container-login fondo-cristal">
            
            <form method="POST" action="/login" class="formulario-login">
                <label for=""> <h2> Inicio de Sesion </h2> </label>
                
                <label for="usuario">Usuario administrador</label>
                <input type="text" name="usuario" placeholder="" required autocomplete="off">
                
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="" required>
                
                <button type="submit" id="btn-login"> Entrar </button>
                
                {% if login == False %}
                    <h5>Datos incorrectos</h5>
                {% endif %}
                
            </form>
        </div>
    </main>
</body>
</html>

