<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_prestamos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='barra_lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='filtros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">

</head>
<body>
    <header>

        <div class="navbar fondo-cristal">
            <a href="{{ url_for('logout') }}">Cerrar sesion</a>
        </div>
    </header>
    <main>

        {% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %}
        <section class="barra-lateral fondo-cristal">
            <h2>Administracion</h2>
            <h4>Usuario: <br>
            {{session["rol"]}}&nbsp;{{session["usuario"]}}</h4>
            <nav>
                <button class="boton-lateral-cerrar fondo-cristal">Cerrar</button>
                <a href="{{ url_for('prestamos') }}" id="pagina-actual">Prestamos </a>
                <a href="{{ url_for('registro_prestamos') }}">Registro Prestamos</a>
                <a href="{{ url_for('libros') }}">Catalogo </a>
                <a href="{{ url_for('insertar_libro') }}">Registro de Libros</a>
                {% if session["rol"] == "Administrador" %}
                <a href="{{ url_for('usuarios') }}">Usuarios</a>
                <a href="{{ url_for('registrar_usuarios') }}">Registro de Usuarios</a>
                <a href="{{ url_for('libros_eliminados') }}">Libros Eliminados</a>
                <a href="{{ url_for('prestamos_eliminados') }}">Prestamos Eliminados</a>
                {% endif %}
                
                <div class="conteo-prestamos">
                    <span>
                        <strong>Prestamos</strong>
                    </span>
                    <span> 
                        <span id="azul"> </span>&nbsp;Activos:&nbsp;
                        {{prestamos_activos}}
                        <br><br>
                    </span><!-- Conteo de Prestamos Activos  -->
                    <span>
                        <span id="verde"> </span>&nbsp;Devueltos:&nbsp;
                        {{prestamos_devueltos}}
                        <br><br>
                    </span>
                    <span> 
                        <span id="rojo"> </span>&nbsp;Vencidos:&nbsp;
                        {{prestamos_vencidos}}
                        <br><br>
                    </span>
                </div>
            </nav>
        </section>
        <button class="boton-lateral fondo-cristal">Menu</button>
        {% endif %}

        <div class="div-busqueda">
            <form class="frm-prestamos" action="/buscar_prestamo" method="GET">
                <label for="buscar_prestamo"><h1>Gestión de Préstamos</h1>Administra los préstamos de libros, registra nuevos y gestiona devoluciones.</label><br><br><br>
                <input class="buscar-prestamo" id="cuadro-busqueda" type="text" name="buscar_prestamo" autocomplete="off" placeholder="Buscar...">&nbsp;&nbsp;
                
                <section class="menu-filtros">
                    <nav>
                        <section>
                            <h4> Buscar por: &nbsp;&nbsp;</h4>
                            <select name="filtro-busqueda" id="filtro-busqueda">
                                <!-- Estas decisiones sirven para guardar la seleccion de filtros -->
                                <option value="Titulo" 
                                    {% if filtro_busqueda == "Titulo" %}
                                        selected
                                    {% endif %}>
                                    Titulo
                                </option>
                                <option value="Lector" 
                                    {% if filtro_busqueda == "Lector" %}
                                        selected
                                    {% endif %}>
                                    Lector
                                </option>
                            </select>
                        </section>
                        <section>
                            <h4> Estados: &nbsp;&nbsp; </h4>
                            <select name="estados" id="estados">
                                <!-- Estas decisiones sirven para guardar la seleccion de filtros -->
                                <option value="Todos" 
                                    {% if estados == "Todos" %}
                                        selected
                                    {% endif %}>
                                    Todos
                                </option>
                                <option value="2" 
                                    {% if estados == "2" %}
                                        selected
                                    {% endif %}>
                                    Activos
                                </option>
                                <option value="3" 
                                    {% if estados == "3" %}
                                        selected
                                    {% endif %}>
                                    Devueltos
                                </option>
                                <option value="1" 
                                    {% if estados == "1" %}
                                        selected
                                    {% endif %}>
                                    Vencidos
                                </option>
                            </select>
                        </section>
                    </nav>
                </section>
                
                <button id="btn-buscar" type="submit">Buscar</button>

                <ul class="ul-contenedor-sugerencias">
                    <li>sugerencia 1</li>
                </ul>
            </form>
        </div>
        
        <div class="contendor-prestamos">

            {% for prestamo in prestamos %}
            <div class="prestamo">
                
                <span class="span-fechas" 
                {% if (prestamo[9]) == 'Activo' %}
                    id="p-activo"
                {% elif (prestamo[9]) == 'Devuelto' %}
                    id="p-devuelto"
                {% elif (prestamo[9]) == 'Vencido' %}
                    id="p-vencido"
                {% endif %}
                > 
                    <h2>Fecha prestamo: {{prestamo[0]}}</h2> 
                    <h2>Fecha limite de entrega: {{prestamo[1]}}</h2> 
                    <h2>Fecha devolucion: {{prestamo[2]}}</h2> 
                </span><!-- Fechas  -->
                
                <span id="span-info-prestamos"> 
                    <h2>{{prestamo[3]}}</h2> <!-- Titulo  --> 
                    <h3>Lector: {{prestamo[4]}}&nbsp;{{prestamo[5]}} <!-- Nombre y apellido del lector  --></h3> 
                </span>
                <span id="span-informacion-lector">

                    <h4 class="h4-datos-lector">
                        <strong>Datos del lector</strong><br>
                        DPI: {{prestamo[6]}} <br>
                        Telefono: {{prestamo[7]}}<br>
                        Direccion: {{prestamo[8]}}<br>
                    </h4> <!-- Datos del lecto  --> 
                </span>
                <span id="span-estado-prestamo"> 
                    {% if (prestamo[9]) == 'Activo' %}
                        <h4 id="p-activo">Activo</h4>
                        <div class="div-acciones-prestamo">
                            <form class="frm-devolver-prestamo" action="/devolver_prestamo" method="POST">
                                <input type="text" value="{{prestamo[10]}}" name="id_prestamo"> 
                                <button type="submit">Devolver</button>
                            </form>
                                                
                    {% elif (prestamo[9]) == 'Devuelto' %}
                        <h4 id="p-devuelto">Devuelto</h4>
                        <div class="div-acciones-prestamo">
                        
                    {% elif (prestamo[9]) == 'Vencido' %}
                        <h4 id="p-vencido">Vencido</h4>
                        <div class="div-acciones-prestamo">
                            <form class="frm-devolver-prestamo" action="/devolver_prestamo" method="POST">
                                <input type="text" value="{{prestamo[10]}}" name="id_prestamo"> 
                                <button type="submit">Devolver</button>
                            </form>
                        
                    {% endif %}
                    
                    {% if session["rol"] == 'Administrador' %}
                        <form class="frm-eliminar-prestamo" action="/eliminar_prestamo" method="POST">
                            <input type="text" value="{{prestamo[10]}}" name="id_prestamo"> 
                            <button type="reset" class="btn-eliminacion"> Eliminar </button>
                            <span class="motivo_eliminacion">
                                <input type="text" placeholder="Escribe el motivo de la eliminacion del prestamo" name="motivo" required autocomplete="off">
                                <button type="submit">Confirmar eliminacion</button> <button type="reset" class="btn-cancelar-eliminacion">Cancelar</button>
                            </span>
                        </form>
                    {% endif %}
                    </div>
                </span>
            </div>
            {% endfor %}
            <br><br><br><br>
            
        </div>        
        
        <div class="paginacion">
            {% if pagina > 1 %} <!-- Verifica que la pagina actual sea despues de la primera, para mostrar un boton de "Anterior" -->
                <a href="{{ url_for('buscar_prestamo', page=pagina - 1, buscar_prestamo=busqueda, estados=estados, filtro_busqueda=filtro_busqueda) }}">Anterior</a> <!-- Este enlace lleva a la pagina anterior "pagina-1" -->
            {% endif %}
        
            {% for p in range(pagina - 1, pagina + 2) %}
                {% if 1 <= p <= total_paginas %}
                    {% if p == pagina %} <!-- Verifica cual es la pagina actual para aplicarle otro estilo -->
                        <strong>{{ p }}</strong>
                    {% else %} <!-- Genera todos los demas enlaces o "numeros de pagina", "[1],[2],[3]" -->
                        <a href="{{ url_for('buscar_prestamo', page=p, buscar_prestamo=busqueda, estados=estados, filtro_busqueda=filtro_busqueda) }}">{{ p }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}   
        
            {% if pagina < total_paginas %} <!-- Verifica que la pagina actual no sea la ultima, para mostrar un boton de "Siguiente" -->
                <a href="{{ url_for('buscar_prestamo', page=pagina + 1, buscar_prestamo=busqueda, estados=estados, filtro_busqueda=filtro_busqueda) }}">Siguiente</a> <!-- Este enlace lleva a la pagina siguiente "pagina+1" -->
            {% endif %}
        </div> 
    </main>

    <script src="/static/js/sugerencias.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/eliminar_item.js"></script>
</body>
</html>
