<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de prestamos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='barra_lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_registro_prestamos.css') }}">

</head>
<body>
    <header>

        <div class="navbar fondo-cristal">
            <a href="{{ url_for('logout') }}">Cerrar sesion</a>
        </div>
    </header>
    <main class="main">

        {% if ((session["rol"]) == "Administrador") or ((session["rol"]) == "Bibliotecario") %}
        <section class="barra-lateral fondo-cristal">
            <h2>Administracion</h2>
            <h4>Usuario: <br>
                {{session["rol"]}}&nbsp;{{session["usuario"]}}</h4>
            <nav>
                <button class="boton-lateral-cerrar fondo-cristal">Cerrar</button>
                <a href="{{ url_for('prestamos') }}">Prestamos </a>
                <a href="{{ url_for('registro_prestamos') }}" id="pagina-actual">Registro Prestamos</a>
                <a href="{{ url_for('libros') }}">Catálogo de Libros </a>
                <a href="{{ url_for('insertar_libro') }}">Registro de Libros</a>
                {% if session["rol"] == "Administrador" %}
                <a href="{{ url_for('usuarios') }}">Usuarios</a>
                <a href="{{ url_for('registrar_usuarios') }}">Registro de Usuarios</a>
                <a href="{{ url_for('libros_eliminados') }}">Libros Eliminados</a>
                <a href="{{ url_for('prestamos_eliminados') }}">Prestamos Eliminados</a>
                {% endif %}
                
            </nav>
        </section>
        <button class="boton-lateral fondo-cristal">Menu</button>
        {% endif %}

        <h1 id="h1-titulo">Registrar nuevo prestamo</h1>
        <h5 id="h5-nota">Complete el formulario para agregar un nuevo prestamo.</h5>
                
        <div class="div-container-registro-prestamos">
        
            <form method="POST" action="/registro_prestamos" class="formulario-prestamo">
                
                <label for="DPI">DPI</label>
                <label for="nombre_lector apellido_lector">Lector</label>
                
                <input type="text" name="DPI" placeholder="" value="{{ DPI or '' }}" required autocomplete="off">
                <span id="span-informacion-lector">
                    <input type="text" name="nombre_lector" placeholder="Nombre" value="{{ nombre_lector or '' }}" autocomplete="off">
                    <input type="text" name="apellido_lector" placeholder="Apellido" value="{{ apellido_lector or '' }}" autocomplete="off">
                </span>
                
                <label for="direccion">Direccion</label>
                <label for="num_telefono">Numero de Telefono</label>
                <input type="text" name="direccion" placeholder="" value="{{ direccion or '' }}"  autocomplete="off">
                <input type="text" name="num_telefono" placeholder="" value="{{ num_telefono or '' }}" autocomplete="off">
                
                <label for="libro">Libro</label>
                <label for="grado">Grado de Estudio</label>
                <input class="buscar-libro-prestamo" type="text" name="libro" placeholder="" value="{{ libro or '' }}" autocomplete="off">
                <input type="text" name="grado" placeholder="" value="{{ grado or '' }}" autocomplete="off">
                                
                <label for="fecha_prestamo">Fecha de prestamo</label>
                <label for="fecha_entrega_estimada">Fecha limite de entrega</label>
                <input type="date" id="fecha_prestamo" name="fecha_prestamo" placeholder="" value="{{ fecha_prestamo or '' }}">
                <input type="date" id="fecha_entrega_estimada" name="fecha_entrega_estimada" placeholder="" value="{{ fecha_entrega_estimada or '' }}">

                <button id="btn-registrar-prestamo" type="submit">Registrar prestamo</button>
                {% if (error) %}
                    <label id="error" for="error">{{error}}</label>
                {% elif (registro_exitoso)  %}
                    <label id="exito" for="registro_exitoso">Prestamo registrado exitosamente</label>
                {% endif %}
            </form>

            <ul class="ul-contenedor-sugerencias">
                <li>sugerencia 1</li>
            </ul>
            <section class="filtro">
                <h4> Buscar por: &nbsp;&nbsp;</h4>
                <select name="filtro-busqueda" id="filtro-busqueda">
                    <option value="Titulo">Titulo</option>
                </select>
            </section>
        </div>
    </main>
    <script src="/static/js/sugerencias.js"></script>
    <script src="/static/js/obtener_fecha.js"></script>
    <script src="/static/js/menu.js"></script>
</body>
</html>

